@charset "utf-8";

.container {
    height: 400px;
    display: flex;
}

.box-1 {
    background-color: lightpink;
    height: 100%;
    flex: 1;
    margin: 4px 4px 4px 4px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 {
    background-color: #fafad1;
    height: 100%;
    flex: 2;
    margin: 4px 4px 4px 4px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3 {
    background-color: lightcyan;
    height: 100%;
    flex: 1;
    margin: 4px 4px 4px 4px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}